[alias]
    ignore = !"f() { for i in \"$@\"; do echo $(basename $i) >> $(dirname $PWD/$i)/.gitignore; done; }; f"
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative


[user]
	name = Ted Scharff
    #email = e.b.scharff@nasa.gov
    email = ted.scharff@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[core]
	excludesfile = /Users/ted/.gitignore.global
[push]
	default = tracking
[branch]
    autosetuprebase = always # git pull --rebase by default
